<form action="/cart" method="post" class="mx-2">
    <button type="submit" class="btn btn-primary px-4 me-md-2">Add To Cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
    <%- include('../includes/csrfToken.ejs') %>
</form>