<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item <%= pagination.prev ?? "disabled" %>">
      <a class="page-link">Previous</a>
    </li>
    <% for (let index = 0; index < pagination.info.pagesTotal; index++) { %>
      <li class="page-item active">
        <a class="page-link" href="#">
          <%= index + 1 %> 
        </a>
      </li>
   <% } %> 
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item <%= pagination.next ?? "disabled" %>">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
